apiVersion: v1
kind: Namespace
metadata:
  name: {{CHALLENGE_NAMESPACE}}

---
apiVersion: v1
kind: Namespace
metadata:
  name: {{PLATFORM_NAMESPACE}}

---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{PLATFORM_STORAGE_CLASS_NAME}}
  annotations:
    storageclass.kubernetes.io/is-default-class: "false"
provisioner: rancher.io/local-path
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{CLUSTER_ROLE_NAME}}
rules:
  - apiGroups:
      - ''
      - apps
      - autoscaling
      - batch
      - extensions
      - policy
      - networking.k8s.io
    resources:
      - pods
      - pods/portforward
      - componentstatuses
      - configmaps
      - daemonsets
      - deployments
      - events
      - networkpolicies
      - endpoints
      - ingress
      - jobs
      - limitranges
      - namespaces
      - nodes
      - pods
      - resourcequotas
      - replicasets
      - replicationcontrollers
      - services
    verbs: ['get', 'list', 'watch', 'create', 'update', 'patch', 'delete']

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{SERVICE_ACCOUNT_NAME}}
  namespace: {{PLATFORM_NAMESPACE}}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{CLUSTER_ROLE_BINDING_NAME}}
subjects:
  - kind: ServiceAccount
    name: {{SERVICE_ACCOUNT_NAME}}
    namespace: {{PLATFORM_NAMESPACE}}
roleRef:
  kind: ClusterRole
  name: {{CLUSTER_ROLE_NAME}}
  apiGroup: rbac.authorization.k8s.io
